.signpage{
  margin-top: 8%;
  border: 2px solid rgb(32, 31, 31);
  border-radius: 10px;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("https://www.efghfoods.com/wp-content/uploads/2023/03/image.jpeg");
}
.signpage input{
  width: 400px;
  height: 25px;
  border: 2px solid rgb(77, 73, 73);
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  margin-left: 25%;
}
.buttons{
  display: flex;
  margin-top: 2%;

}
.signpage button{
  margin-bottom: 5%;
  margin-left: 35%;
  width: 100px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.about{
  background-color: rgb(214, 151, 107);
  height: 95vh;
}
.about h1{
  text-align:center ;
}
.about h3{
  text-align: center;
}
.about img {
  margin-left: 25%;
  border: 2px solid black;
  border-radius: 10px;
}
.about button{
  width: 80px;
  height: 35px;
  border: 2px solid gray;
  background-color: rgb(247, 246, 246);
  border-radius: 5px;
  margin-left: 48%;
}
.enter{
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/037/201/155/small_2x/ai-generated-generative-ai-empty-wooden-tabletop-on-blurred-modern-kitchen-background-with-copy-space-photo.jpg");
  background-size: cover;        
  background-repeat: no-repeat; 
  height: 100vh;  
}
.enter p{
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: #000;
}
.signup_aboutbutton{
  margin-top: 2%;
  margin-left: 5%;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.get img{
  border: 2px solid black;
  border-radius: 15px;
}
.get{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
  text-align: center;
}
.get div{
  border: 2px solid black;
  background-color: rgb(243, 180, 157);
  border-radius: 20px;
}
.frontpage{
  background-color: #D2B48C;
  background-size: cover;        
  background-repeat: no-repeat; 
  height: auto; 
}
.filter{
  width: 700px;
  height: 40px;
  text-align: center;
  border: 2px solid black;
  font-size: 1.25rem;
  margin-left: 25%;
  border-radius: 20px;
  margin-top: 20px;
}
.experience-card {
  border: 2px solid #000;
  margin-top: 20px;
  padding: 16px;
  display: flex;
  height: 180px;
  background-color: #f1f5f9;
  border-radius: 15px;
}

.experience-image {
  height: 100px;
  width: 140px;
  border-radius: 15px;
  margin-left: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.input-image {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.input-field {
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  width: 70%;
  background-color: #d1e7dd;
  border-radius: 5px;
}

.submit-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin-left: 10px;
}
